{% extends "store/index.html" %} {% load static %} {% block cart %}
<div class="cart-modal hidden">
  <div class="cart-head">
    <div class="cart-head-left">
      <button class="cart-btn" id="close-cart">
        <i class="fa-solid fa-chevron-left"></i>
      </button>
      <span class="bold">Your Cart</span>
      <span class="cart-items bold">(0 items)</span>
    </div>
    <div class="cart-head-right">
      <button class="cart-btn">
        <i class="fa-solid fa-trash"></i>
      </button>
    </div>
  </div>
  <div class="cart-middle">
    <div class="item-card">
      <div class="item-img">
        <img src="{% static 'images/asset 5.png' %}" alt="">
      </div>
      <div class="item-details">
        <div class="item-details--1">
          <div class="item-titles">
            <p class="bold font">Nike Martine Rose</p>
            <p>MEN Running Shoes</p>
          </div>
          <div class="item-price">
            <p class="bold font">400$</p>
          </div>
        </div>
        <div class="item-details--2">
          <div class="quantity">
           <button class="quantity-btn">-</button> 
           <button class="quantity-btn">1</button> 
           <button class="quantity-btn">+</button> 
          </div>
          <div class="delete">
            <button class="cart-btn delete-btn">
              <i class="fa-solid fa-trash"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="item-card">
      <div class="item-img">
        <img src="{% static 'images/asset 5.png' %}" alt="">
      </div>
      <div class="item-details">
        <div class="item-details--1">
          <div class="item-titles">
            <p class="bold font">Nike Martine Rose</p>
            <p>MEN Running Shoes</p>
          </div>
          <div class="item-price">
            <p class="bold font">400$</p>
          </div>
        </div>
        <div class="item-details--2">
          <div class="quantity">
           <button class="quantity-btn">-</button> 
           <button class="quantity-btn">1</button> 
           <button class="quantity-btn">+</button> 
          </div>
          <div class="delete">
            <button class="cart-btn delete-btn">
              <i class="fa-solid fa-trash"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="item-card">
      <div class="item-img">
        <img src="{% static 'images/asset 5.png' %}" alt="">
      </div>
      <div class="item-details">
        <div class="item-details--1">
          <div class="item-titles">
            <p class="bold font">Nike Martine Rose</p>
            <p>MEN Running Shoes</p>
          </div>
          <div class="item-price">
            <p class="bold font">400$</p>
          </div>
        </div>
        <div class="item-details--2">
          <div class="quantity">
           <button class="quantity-btn">-</button> 
           <button class="quantity-btn">1</button> 
           <button class="quantity-btn">+</button> 
          </div>
          <div class="delete">
            <button class="cart-btn delete-btn">
              <i class="fa-solid fa-trash"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="item-card">
      <div class="item-img">
        <img src="{% static 'images/asset 5.png' %}" alt="">
      </div>
      <div class="item-details">
        <div class="item-details--1">
          <div class="item-titles">
            <p class="bold font">Nike Martine Rose</p>
            <p>MEN Running Shoes</p>
          </div>
          <div class="item-price">
            <p class="bold font">400$</p>
          </div>
        </div>
        <div class="item-details--2">
          <div class="quantity">
           <button class="quantity-btn">-</button> 
           <button class="quantity-btn">1</button> 
           <button class="quantity-btn">+</button> 
          </div>
          <div class="delete">
            <button class="cart-btn delete-btn">
              <i class="fa-solid fa-trash"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="item-card">
      <div class="item-img">
        <img src="{% static 'images/asset 5.png' %}" alt="">
      </div>
      <div class="item-details">
        <div class="item-details--1">
          <div class="item-titles">
            <p class="bold font">Nike Martine Rose</p>
            <p>MEN Running Shoes</p>
          </div>
          <div class="item-price">
            <p class="bold font">400$</p>
          </div>
        </div>
        <div class="item-details--2">
          <div class="quantity">
           <button class="quantity-btn">-</button> 
           <button class="quantity-btn">1</button> 
           <button class="quantity-btn">+</button> 
          </div>
          <div class="delete">
            <button class="cart-btn delete-btn">
              <i class="fa-solid fa-trash"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="item-card">
      <div class="item-img">
        <img src="{% static 'images/asset 5.png' %}" alt="">
      </div>
      <div class="item-details">
        <div class="item-details--1">
          <div class="item-titles">
            <p class="bold font">Nike Martine Rose</p>
            <p>MEN Running Shoes</p>
          </div>
          <div class="item-price">
            <p class="bold font">400$</p>
          </div>
        </div>
        <div class="item-details--2">
          <div class="quantity">
           <button class="quantity-btn">-</button> 
           <button class="quantity-btn">1</button> 
           <button class="quantity-btn">+</button> 
          </div>
          <div class="delete">
            <button class="cart-btn delete-btn">
              <i class="fa-solid fa-trash"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="item-card">
      <div class="item-img">
        <img src="{% static 'images/asset 5.png' %}" alt="">
      </div>
      <div class="item-details">
        <div class="item-details--1">
          <div class="item-titles">
            <p class="bold font">Nike Martine Rose</p>
            <p>MEN Running Shoes</p>
          </div>
          <div class="item-price">
            <p class="bold font">400$</p>
          </div>
        </div>
        <div class="item-details--2">
          <div class="quantity">
           <button class="quantity-btn">-</button> 
           <button class="quantity-btn">1</button> 
           <button class="quantity-btn">+</button> 
          </div>
          <div class="delete">
            <button class="cart-btn delete-btn">
              <i class="fa-solid fa-trash"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="item-card">
      <div class="item-img">
        <img src="{% static 'images/asset 5.png' %}" alt="">
      </div>
      <div class="item-details">
        <div class="item-details--1">
          <div class="item-titles">
            <p class="bold font">Nike Martine Rose</p>
            <p>MEN Running Shoes</p>
          </div>
          <div class="item-price">
            <p class="bold font">400$</p>
          </div>
        </div>
        <div class="item-details--2">
          <div class="quantity">
           <button class="quantity-btn">-</button> 
           <button class="quantity-btn">1</button> 
           <button class="quantity-btn">+</button> 
          </div>
          <div class="delete">
            <button class="cart-btn delete-btn">
              <i class="fa-solid fa-trash"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="item-card">
      <div class="item-img">
        <img src="{% static 'images/asset 5.png' %}" alt="">
      </div>
      <div class="item-details">
        <div class="item-details--1">
          <div class="item-titles">
            <p class="bold font">Nike Martine Rose</p>
            <p>MEN Running Shoes</p>
          </div>
          <div class="item-price">
            <p class="bold font">400$</p>
          </div>
        </div>
        <div class="item-details--2">
          <div class="quantity">
           <button class="quantity-btn">-</button> 
           <button class="quantity-btn">1</button> 
           <button class="quantity-btn">+</button> 
          </div>
          <div class="delete">
            <button class="cart-btn delete-btn">
              <i class="fa-solid fa-trash"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="cart-foot">
    <div class="cart-foot--1">
      <p class="bold">Subtotal</p>
      <p class="cart-items bold">400$</p>
    </div>
    <div class="cart-foot--2">
      <button>Checkout</button>
    </div>
  </div>
</div>
<div class="cart-overlay hidden"></div>

{% endblock%}
