{% extends "store/navbar.html" %} {% load static %} {% block header %}
<header class="header">
  <div class="heading-main">
    <h1>Play with electric nike adapt 2.0 sneakers</h1>
    <a href="#" class="btn-primary">Explore Product</a>
  </div>
  <div class="heading-pic">
    <img src="{% static 'images/asset 5.png' %}" alt="" />
  </div>
  <div class="sideVideo">
    <div class="video--1">
      <img src="{% static 'images/asset 2.png' %}" alt="" />
      <div class="play-btn"><i class="fa-solid fa-play"></i></div>
    </div>
    <div class="video--1">
      <img src="{% static 'images/asset 3.png' %}" alt="" />
      <div class="play-btn"><i class="fa-solid fa-play"></i></div>
    </div>
    <div class="video--1">
      <img src="{% static 'images/asset 4.png' %}" alt="" />
      <div class="play-btn"><i class="fa-solid fa-play"></i></div>
    </div>
  </div>
</header>
{% endblock %}
